# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Logs
*.log
uvicorn.log

# Media Cache (important for media files downloaded by yt-dlp)
media_cache/
