@tailwind base;
@tailwind components;
@tailwind utilities;
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative; /* Needed for pseudo-element positioning */
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  background: #FBBF24; /* bg-yellow-400 */
  cursor: pointer;
  margin-top: -6px;
}

input[type=range]::-webkit-slider-thumb::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 6rem; /* h-24 */
  background: rgba(251, 191, 36, 0.5); /* yellow-400 with opacity */
  bottom: 8px; /* Position it to start from the thumb's center */
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: -1; /* Place it behind the word blocks */
}

input[type=range]::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  background: #FBBF24;
  cursor: pointer;
  position: relative;
}

input[type=range]::-moz-range-thumb::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 6rem;
  background: rgba(251, 191, 36, 0.5);
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: -1;
}
